:root {
  /* Шрифты */
  --font-family-base: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-weight-base: 400;
  --line-height-base: 1.6;

  /* Цвета */
  --primary-color: #9564aa;
  --primary-dark: #684677;
  --sale-color: #c15ca1;
  --white-color: #fff;
  --dark-color: #000;
  --accent-color: #ffcf2d;
  --primary-light: rgba(149, 100, 170, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

#app {
  /* max-width: 1920px; */
  margin: 0 auto;
  min-height: 100vh;
}

.hover-eff {
  transition: all 0.3s ease;
  opacity: 1;
}

.hover-eff:hover {
  opacity: 0.7;
}

.reset-btn {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.header__container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 17px 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 640px) {
  .header__container {
    padding-bottom: 28px;
  }
}

.header__logo {
  text-decoration: none;
  color: var(--white-color);
  display: none;
  font-weight: 700;
  font-size: 48px;
  margin-right: 20px;
}

@media (min-width: 640px) {
  .header__logo {
    display: block;
  }
}

.header__logo:hover {
  color: var(--accent-color);
}

.header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header__nav-link {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
}

.header__nav-item {
  display: none;
  transition: all 0.3s ease;
  opacity: 1;
}

@media (min-width: 640px) {
  .header__nav-item {
    display: inline-block;
    padding: 7px 13px;
  }
}

.header__nav-item:hover {
  opacity: 0.7;
}

.header__nav-item:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 640px) {
  .header__nav-item:last-child {
    background-color: var(--primary-dark);
    border-radius: 10px;
  }
}

.header__nav-item:last-child .header__nav-link {
  display: none;
}

@media (min-width: 640px) {
  .header__nav-item:last-child .header__nav-link {
    display: inline;
    color: var(--accent-color);
  }
}
.header__menu {
    display: none;
  }

@media (min-width: 640px) {
  .header__menu {
    display: none;
  }
}

.container {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}

.sidebar {
  margin: 30px;
  display: none;
  background-color: var(--primary-light);
  border-radius: 10px;
  border: 2px solid rgba(149, 100, 170, 0.2);
  padding: 18px;
  height: 100vh;
}

@media (min-width: 1024px) {
  .sidebar {
    display: block;
    width: 270px;
  }
}

.sidebar__user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar__img {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--white-color);
}

.sidebar__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar__name {
  font-weight: 700;
  font-size: 16px;
  color: var(--dark-color);
}

.sidebar__btn {
  padding: 5px 10px;
  background-color: var(--primary-dark);
  border-radius: 5px;
  border: none;
  font-size: 10px;
  color: var(--white-color);
  text-transform: uppercase;
  cursor: pointer;
}

.sidebar__divider {
  margin-top: 20px;
  margin-bottom: 21px;
  border: 1px solid var(--primary-color);
  opacity: 0.2;
}

.sidebar__nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar__nav-link {
  display: flex;
  align-items: center;
  gap: 29px;
  font-size: 16px;
  color: var(--dark-color);
  text-decoration: none;
}

.sidebar__icon {
  width: 22px;
  height: 22px;
}

.main {
  padding: 15px 20px;
  width: 100%;
}

.hero__title {
  font-weight: 700;
  font-size: 20px;
  color: var(--dark-color);
  margin-bottom: 10px;
}

@media (min-width: 640px) {
  .hero__title {
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.hero__divider {
  border: 1px solid var(--primary-color);
  opacity: 0.2;
  width: 100%;
}

@media (min-width: 640px) {
  .main {
    padding: 30px 40px;
  }
}

.sale {
  display: none;
}

@media (min-width: 640px) {
  .sale {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: var(--sale-color);
    padding: 13px;
    border-radius: 10px;
  }
}

@media (min-width: 1024px) {
  .sale {
    justify-content: space-between;
  }
}

@media (min-width: 640px) {
  .sale__text {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1.6px;
    color: var(--accent-color);
    text-shadow: 1px 1px 0px var(--white-color), -1px -1px 0px var(--white-color),
      1px -1px 0px var(--white-color), -1px 1px 0px var(--white-color);
    -webkit-text-stroke: 1px var(--white-color);
  }
}

@media (min-width: 640px) {
  .sale__time {
    font-weight: 700;
    font-size: 16px;
    color: var(--white-color);
  }
}

@media (min-width: 640px) {
  .sale__timer {
    background-color: var(--white-color);
    width: 238px;
    height: 56px;
    border-radius: 5px;
    color: var(--dark-color);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cards {
  margin-top: 23px;
}

@media (min-width: 640px) {
  .cards {
    margin-top: 26px;
  }
}

.cards__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 640px) {
  .cards__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.cards__item {
  min-width: 150px;
  padding: 15px 33px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  text-align: right;
  background-color: var(--primary-light);
  border: 2px solid var(--primary-color);
  color: var(--dark-color);
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

@media (min-width: 640px) {
  .cards__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 calc(20% - 30px);
  }
}

.cards__item:last-child {
  background-color: rgba(170, 100, 100, 0.2);
  border-color: rgba(170, 100, 100, 1);
}

.cards__item.hovered {
  background-color: var(--primary-color);
}

.cards__item.hovered .cards__tooltip {
  opacity: 1;
  visibility: visible;
}

.cards__item.hovered .cards__price {
  color: var(--white-color);
}

.cards__tooltip {
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  font-weight: 700;
  font-size: 14px;
  background-color: var(--accent-color);
  width: 123px;
  height: 23px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  z-index: 500;
}

@media (min-width: 640px) {
  .cards__tooltip {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.cards__price {
  font-weight: 700;
  font-size: 24px;
  color: var(--dark-color);
  transition: color 0.3s ease;
  display: flex;
  justify-content: right;
  align-items: center;
}

@media (min-width: 640px) {
  .cards__price {
    justify-content: center;
    align-items: center;
  }
}

.cards__round {
  font-weight: 700;
  font-size: 8px;
  color: var(--dark-color);
  background-color: var(--accent-color);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.cards__slash {
  font-weight: 400;
}

.cards__btn {
  display: none;
}

.cards__btn:hover {
  background-color: var(--accent-color);
  color: var(--dark-color);
}

@media (min-width: 640px) {
  .cards__btn {
    display: flex;
    width: 120px;
    height: 52px;
    border-radius: 5px;
    background-color: var(--white-color);
    margin-top: 11px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

@media (min-width: 640px) {
  .cards__cost {
    display: none;
  }
}

.custom-pagination {
  text-align: center;
  color: var(--accent-color);
}

.swiper-pagination-bullet {
  background-color: var(--accent-color);
  opacity: 1;
  width: 7px;
  height: 7px;
  margin: 0 8px;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

@media (min-width: 640px) {
  .custom-pagination {
    display: none;
  }
}

.cards__btn-try {
  display: flex;
  width: 280px;
  height: 52px;
  border-radius: 10px;
  background-color: var(--white-color);
  margin-top: 11px;
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 34px;
}

.cards__btn-try:hover {
  background-color: var(--accent-color);
  color: var(--dark-color);
  border: 1px solid transparent;
}

@media (min-width: 640px) {
  .cards__btn-try {
    display: none;
  }
}

.cards__checkbox {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  transition: 500ms;
  border: 2px solid var(--primary-color);
}

.cards__checkbox:checked {
  background-color: var(--primary-color); 
}

